#en la carpeta raiz crear el archivo .env con el siguiente contenido, luego agregarlo al .gitignore para que no se suba a github

NODE_ENV=dev
HOST=localhost
PORT=3000
WS_PORT=8336

# Database
DB_PORT=5432
DB_HOST=prueba-db
DB_USER=prueba
DB_NAME=prueba
DB_PASSWORD=prueba
DB_ROOT_PASSWORD=prueba
DB_DIALECT=postgres

# JWT
JWT_SECRET=prueba
JWT_EXPIRES_IN=15m
FILE=prueba